.nav-tabs li a{
	word-break:break-word;
	border:none;
}
.page-contents, .tab-content, .tab-content>div{
	height:100%;
}
.page-contents > div{
	height:100%; 
}
.tab-trigger{
	cursor:pointer!important;
}

.team-content h3{
	text-shadow:0px 0px 2px rgba(0,0,0,0.8);
}
.juicertop .juicer-feed.white li.feed-item, 
.juicertop .juicer-feed.user li.feed-item, 
.juicertop .juicer-feed.juicer-widget li.feed-item,
.juicertop .juicer-feed.colors li.feed-item,
.juicertop .juicer-feed.colored-icons li.feed-item,
.juicertop .juicer-feed.gray li.feed-item{
	padding: 10px;
	background: rgba(255,255,255,0.2);
	color: #ffffff;
	margin-bottom: 5%;
	border-color: rgba(255,255,255,0.3);
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	white-space: normal;
	word-break: break-word;
	text-align:center;
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif;
	font-size: 22px
}
.juicertop .j-stack{
	margin:0px;
	padding:0px!important;
}

.juicertop .juicer-feed .j-poster{
	overflow: hidden;
	margin:0 auto 10px;
	height: 30px;
	position:absolute;
	bottom:0px;
	width:100%;
	left:0px;
}

.juicertop .juicer-feed .j-poster a, .juicertop .juicer-feed .j-poster h3{
	color:#fff;
	float:none;
	max-width:100%;
}

.juicertop .j-meta{
	display:none;
}

.feed-body .j-overlay .j-overlay-content{
	background-color:rgba(255,255,255,0.9);
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif;
	color:#555555;
}

.feed-body .j-overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.85);
	padding-top: 50px;
	z-index: 9999;
	outline: none;
}
.feed-body .post-overlay.juicer-feed .j-overlay-text.words .message{
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif;
	font-size: 24px;
}
h1.referral{
	height:0px!important;
	text-indent:-9999px!important;
	overflow:hidden!important;
	display:none!important;
}
footer{
	background-color:rgba(0,0,0,0.6)!important;
}

.juicertop .feed-item{
	margin-bottom:0px!important;
	padding-bottom:50px!important;
}
.j-overlay .message a.auto{
	color:#F17E6F!important;
	font-weight:normal!important;
	font-size: 24px!important;
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif!important;
}
.j-overlay .j-poster h3{
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif!important;
	font-size: 24px!important;	
	font-weight:normal!important;
}
.j-overlay .post-overlay.juicer-feed a.juicer-button{
	border-radius:0px;
	margin-top:9px;
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif!important;
	font-size: 01em;
	padding: 6px 30px 6px;
}
.j-overlay .post-overlay.juicer-feed .j-navigate{
	position: relative;	
}

.post-overlay.juicer-feed .j-navigate a.previous::before, .post-overlay.juicer-feed .j-navigate a.next::before{
	font-family: "fontawesome-webfont", Arial, sans-serif;
	font-size: 26px!important;
}

.message a.auto{
	font-size:15px;
	color:rgba(255,255,255,0.5);
}
/*** SIMONS ADDITIONS ***/
.video-launcher{
	cursor:pointer;
	width:285px;
	height:290px;
}
.happythumb{
	height:100%;
	width:100%;
}
.modal-popup{
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:999;
	display:none;
}
.mo-video{
	width:90%;
	height:90%;
	display:none;
	margin:20px auto;
}
.mo-video.active, .modal-popup.active{
	display:block;
}
.play-btn{
	position:relative;
	top:50%;
	left:50%;
	margin-left:-35px;
	padding-top:35px;
	width:70px;
	height:70px;
	
}

.close-btn{
	position:absolute;
	top:10px;
	right:20px;
	width:40px;
	height:40px;
	z-index: 9;
	cursor:pointer;
}
.close-btn img{
	width:40px;
	height:40px;
}
.j-poster img{
	display:none;
}
.juicertop .juicer-feed a{
	font-weight:normal!important;
	color:#ffffff!important;
}
.juicertop .juicer-feed{
    font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif;	
 }
.juicertop .juicer-feed ul.j-filters li{
	border:2px solid rgba(255,255,255,0);
	color: white;
	border-radius:20px;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	text-align: center;
	list-style-type: none;
	margin: 0 10px;
	height:40px;
	width: 40px;
	display: inline-block;
	background-color:transparent!important;
	font-family: 'parachute_-_pfbaguesansprolight', arial, helvetica, sans-serif;
}
.juicertop .juicer-feed ul.j-filters{
	padding:0px;
}
.j-stacker-wrapper{
	margin:0px!important;
}
.juicertop .juicer-feed ul.j-filters li::before{
	display:none;
}
.juicer-feed ul.j-filters li{
	padding:5px 0px!important;
}
.juicertop .juicer-feed ul.j-filters li.twitter{
	background-image:url("/images/icons/twitter.svg");
	background-repeat:no-repeat;
	text-indent:-9999px;
}
.juicertop .juicer-feed ul.j-filters li.instagram{
	background-image:url("/images/icons/insta.svg");
	background-repeat:no-repeat;
	text-indent:-9999px;
}
.juicertop .juicer-feed ul.j-filters li.facebook{
	background-image:url("/images/icons/fb.svg");
	background-repeat:no-repeat;
	text-indent:-9999px;
}
.juicertop .juicer-feed ul.j-filters li.googleplus{
	background-image:url("/images/icons/gp.svg");
	background-repeat:no-repeat;
	text-indent:-9999px;
}
.juicertop .juicer-feed ul.j-filters li.linkedin{
	background-image:url("/images/icons/li.svg");
	background-repeat:no-repeat;
	text-indent:-9999px;
}
.juicertop .juicer-feed ul.j-filters li.youtube{
	background-image:url("/images/icons/yt.svg");
	background-repeat:no-repeat;
	text-indent:-9999px;
}
.juicertop .juicer-feed ul.j-filters li.selected, .juicertop .juicer-feed ul.j-filters li:hover{
	border-radius:20px;
	border:2px solid #F17E6F;
}

.juicertop .juicer-feed ul.j-filters li:hover::after, .juicer-feed ul.j-filters li.selected::after{
	height:0px!important;
	background: transparent;
}
.juicertop .juicer-feed .j-poster{
	margin:0px auto 10px!important;
}